/****** Object:  Database [LPFC-DB]    Script Date: 10/28/2025 11:14:04 AM ******/
CREATE DATABASE [LPFC-DB]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_2', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[ProgramDivisions]    Script Date: 10/28/2025 11:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramDivisions](
	[DivisionID] [int] IDENTITY(1,1) NOT NULL,
	[ProgramID] [int] NOT NULL,
	[Division Name] [nvarchar](255) NULL,
	[Division Format] [nvarchar](255) NULL,
	[Division Gender] [nvarchar](255) NULL,
	[Upper Division] [nvarchar](255) NULL,
	[Lower Division] [nvarchar](255) NULL,
	[DivisionDuration_Weeks] [int] NULL,
	[DivisionPractices_PerWeek] [int] NULL,
	[DivisionPracticeLenth_Hours] [float] NULL,
	[DivisionGames_PerWeek] [int] NULL,
	[DivisionGameLength_Hours] [float] NULL,
 CONSTRAINT [pk_ProgramDivisions] PRIMARY KEY CLUSTERED 
(
	[DivisionID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AthleticPrograms]    Script Date: 10/28/2025 11:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AthleticPrograms](
	[ProgramID] [int] IDENTITY(1,1) NOT NULL,
	[Program Name] [nvarchar](255) NULL,
	[Program Sport] [nvarchar](255) NULL,
	[Program Year] [int] NULL,
	[Program Season] [nvarchar](255) NULL,
	[Program Format] [nvarchar](255) NULL,
	[Program Environment] [nvarchar](255) NULL,
	[Program Sort Order] [smallint] NULL,
 CONSTRAINT [pk_AthleticPrograms] PRIMARY KEY CLUSTERED 
(
	[ProgramID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProgramDivisions]    Script Date: 10/28/2025 11:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ProgramDivisions]
AS
SELECT TOP (100) PERCENT dbo.AthleticPrograms.[Program Name], dbo.AthleticPrograms.[Program Sport], dbo.AthleticPrograms.[Program Year], dbo.AthleticPrograms.[Program Season], dbo.AthleticPrograms.[Program Format], dbo.AthleticPrograms.[Program Environment], 
             dbo.ProgramDivisions.[Division Name], dbo.ProgramDivisions.[Division Gender], dbo.ProgramDivisions.DivisionDuration_Weeks, dbo.ProgramDivisions.DivisionPractices_PerWeek, dbo.ProgramDivisions.DivisionPracticeLenth_Hours, dbo.ProgramDivisions.DivisionGames_PerWeek, 
             dbo.ProgramDivisions.DivisionGameLength_Hours, dbo.AthleticPrograms.ProgramID
FROM   dbo.AthleticPrograms INNER JOIN
             dbo.ProgramDivisions ON dbo.AthleticPrograms.ProgramID = dbo.ProgramDivisions.ProgramID
ORDER BY dbo.AthleticPrograms.ProgramID, dbo.ProgramDivisions.[Division Name]
GO
/****** Object:  Table [dbo].[Enrollment_Details]    Script Date: 10/28/2025 11:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment_Details](
	[Program Name] [nvarchar](255) NULL,
	[Division Name] [nvarchar](255) NULL,
	[Account First Name] [nvarchar](255) NULL,
	[Account Last Name] [nvarchar](255) NULL,
	[Player First Name] [nvarchar](255) NULL,
	[Player Last Name] [nvarchar](255) NULL,
	[Player Gender] [nvarchar](255) NULL,
	[Player Birth Date] [datetime] NULL,
	[Street Address] [nvarchar](255) NULL,
	[Unit] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[State] [nvarchar](255) NULL,
	[Postal Code] [nvarchar](255) NULL,
	[User Email] [nvarchar](255) NULL,
	[Telephone] [nvarchar](255) NULL,
	[Cellphone] [nvarchar](255) NULL,
	[Other Phone] [nvarchar](255) NULL,
	[Team Name] [nvarchar](255) NULL,
	[Order Date] [datetime] NULL,
	[Order No] [float] NOT NULL,
	[Order Detail Description] [nvarchar](255) NULL,
	[OrderItem Amount] [float] NULL,
	[OrderItem Amount Paid] [float] NULL,
	[OrderItem Balance] [float] NULL,
	[Order Payment Status] [nvarchar](255) NULL,
	[Player Id] [float] NOT NULL,
	[User Id] [float] NOT NULL,
	[Program Year] [int] NULL,
	[Program Season] [nvarchar](255) NULL,
	[Program Sort Order] [smallint] NULL,
	[Division Gender] [nvarchar](255) NULL,
	[Program Environment] [nvarchar](255) NULL,
	[ProgramID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Player_ProgramDivisions]    Script Date: 10/28/2025 11:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Player_ProgramDivisions]
AS
SELECT TOP (100) PERCENT dbo.Enrollment_Details.[Player Id], dbo.Enrollment_Details.[Player First Name], dbo.Enrollment_Details.[Player Last Name], dbo.AthleticPrograms.[Program Name], dbo.AthleticPrograms.[Program Year], dbo.AthleticPrograms.[Program Season], 
             dbo.ProgramDivisions.[Division Name], dbo.ProgramDivisions.[Division Format], dbo.ProgramDivisions.DivisionDuration_Weeks, dbo.ProgramDivisions.DivisionPractices_PerWeek, dbo.ProgramDivisions.DivisionGames_PerWeek, dbo.ProgramDivisions.DivisionPracticeLenth_Hours, 
             dbo.AthleticPrograms.[Program Sort Order], dbo.ProgramDivisions.DivisionGameLength_Hours, 
             dbo.ProgramDivisions.DivisionDuration_Weeks * dbo.ProgramDivisions.DivisionPractices_PerWeek * dbo.ProgramDivisions.DivisionPracticeLenth_Hours + dbo.ProgramDivisions.DivisionDuration_Weeks * dbo.ProgramDivisions.DivisionGames_PerWeek * dbo.ProgramDivisions.DivisionGameLength_Hours
              AS ActivityHours
FROM   dbo.AthleticPrograms INNER JOIN
             dbo.ProgramDivisions ON dbo.AthleticPrograms.ProgramID = dbo.ProgramDivisions.ProgramID LEFT OUTER JOIN
             dbo.Enrollment_Details ON dbo.ProgramDivisions.[Division Name] = dbo.Enrollment_Details.[Division Name] AND dbo.ProgramDivisions.ProgramID = dbo.Enrollment_Details.ProgramID
WHERE (dbo.AthleticPrograms.[Program Sort Order] > 0)
ORDER BY dbo.Enrollment_Details.[Player Last Name], dbo.Enrollment_Details.[Player First Name], dbo.AthleticPrograms.ProgramID, dbo.ProgramDivisions.[Division Name]
GO
ALTER TABLE [dbo].[Enrollment_Details]  WITH CHECK ADD  CONSTRAINT [FK_ProgramEnrollment] FOREIGN KEY([ProgramID])
REFERENCES [dbo].[AthleticPrograms] ([ProgramID])
GO
ALTER TABLE [dbo].[Enrollment_Details] CHECK CONSTRAINT [FK_ProgramEnrollment]
GO
ALTER TABLE [dbo].[ProgramDivisions]  WITH CHECK ADD  CONSTRAINT [FK_ProgramDivision] FOREIGN KEY([ProgramID])
REFERENCES [dbo].[AthleticPrograms] ([ProgramID])
GO
ALTER TABLE [dbo].[ProgramDivisions] CHECK CONSTRAINT [FK_ProgramDivision]
GO
